.example {
	color: lightblue;
	background-color:#202020;
}

.time {
	color: aqua;
}

.current {
	color:#202020;
	background-color:lightblue;
}

.windows {
	color: aqua;
}

.full {
	color: lime;
}

.charging {
	color: lime;
}

.low {
	color: orange;
}

.risk {
	color: red;
}
