.back {
  background-color: #232634;
  border-radius: 7px;
}
.text {
  color: #c6d0f5;
}

.low {
  color: #e78284
}

.warn {
  color: #e5c890
}

.alright {
  color: #ca9ee6
}

.good {
  color: #85c1dc
}

.selected {
  background-color: #85c1dc;
  color: #232634;
  border-radius: 5px;
}
.window {
  background-color: #ca9ee6;
  margin: 2px;
  border-radius: 5px;
  color: #232634;
}
